<!DOCTYPE html>
<html>
	<head>
		<title>Search Page</title>
		<link rel="stylesheet" href="/app.css">
	</head>
	<body>
		<a href="/"> Home </a>
		<h3>Search for person by last name</h3>
		<p></p>
		<form action="/submitSearch" method="POST">
			<fieldset>
				<legend>Search for a person:</legend>
					Last name: <input type="text" name="lastName" placeholder="Last name">
					<p></p>
					<button>Search</button>
			</fieldset>
		</form>		
		<p></p>
		<table>
	    	<thead> 
	       		<th>First Name</th> 
	        	<th>Last Name</th> 
	        	<th>Status</th>
	        	<th>Region</th>
	        	<th>Allegiance</th>
	    	</thead> 
	    	<tbody> 
	    		<% search.forEach(function (s) { %>
	        	<tr> 
	            	<td><%= s.fname %></td>
	            	<td><%= s.lname %></td>
	            	<td><%= s.status %></td>
	            	<td><%= s.region %></td>
	            	<td><%= s.allegiance %></td>
	        	</tr>    
	        	<% }); %>	   

	    	</tbody>
		</table> 
	</body>
</html>


